body, h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
    text-align: center;
    background: lightgray;
    animation: headerAnim 2s ease-in-out alternate infinite;
    letter-spacing: 10px;
}

.header-up {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}


@-webkit-keyframes headerAnim {
    0% {letter-spacing: 10px}
    100% {letter-spacing: 16px}
}

.header-container {
    background-color: black;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    top: 40px;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
}

.header-container div {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

.header-container div span {
    padding: 2px 4px;
    background-color: rgb(124, 124, 194);
    border-radius: 5px;
    box-shadow: 0 0 10px purple;
}

@-webkit-keyframes headerMenuAnim {
    from {}
    to {} 
}

aside {
    position: fixed;
    top: 92px;
    background-color: #ff99ff;
    width: 100px;
    height: 520px;
    padding: 5px;
    box-sizing: border-box;
}

aside div {
    background-color: purple;
    padding: 2px;
    margin: 20px 0;
    text-align: center;

}

.header-container div:hover, .header-container div.active {
    color: black;
    cursor: pointer;
    box-shadow: 0 0 40px white;
}

.header-container a {
    text-decoration: none;
}

.quizz-container-head, .grid-container-head {
    margin-right: 150px;
}

.center-container {
    background-color: #80ffaa;
    position: relative;
    top: 76px;
    width: 92%;
    left: 100px;
    box-sizing: border-box;
}

.quizz-container-center {
    position: relative;
}

.quizz-container-center div {
    margin-bottom: 20px;
    background-color: gray;
}

.grid-container-center {
    display: none;   
}

.gallery-container-center {
    display: none;
    position: relative;
    top: 20px;
}

.grid-container-center div {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.panel-displayed {
    display: block;
}

.panel-hidden {
    display: none;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;

}

.main {
    position: relative;
}

footer {
    box-sizing: border-box;
    padding: 4px;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: linear-gradient(rgb(235, 110, 240), lightblue);
}

.footer-left-container {
    background: red;
    width: 60%;
    height: 100%;
    display: inline-block;
    float: left;
}

.footer-right-container {
    background: blue;
    width: 40%;
    height: 100%;
    display: inline-block;
    float: right;
}



